@import url('./icon.css');
@import url('./header.css');
@import url('./elements.css');
@import url('./footer.css');
@import url('./root.css');
@import url('./animation.css');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
    scroll-behavior: smooth;
}


body {
    min-height: 100dvh;
    width: 100%;

    background-color: var(--color-white);
    position: relative;
    
    overflow-x: hidden;
}

.btn-head {
    padding: 5px 15px;
    border-radius: 30px;
}

main {
    display: flex !important;
    flex-direction: column;
    width: 100%;
    min-height: calc(100vh - var(--height));
    margin-top: var(--height);
    padding: 60px 30px;
    user-select: none;
}

.btn-cta {
    border-radius: 30px;
    justify-content: center;
    text-decoration: none;
    width: 40%;
    padding:  15px 10px;

    font-size: 1.4rem;
    margin: 50px auto;
}

@media screen and (max-width: 895px) {
    .btn-cta {
        width: 80%;
    }
}

@media screen and (max-width: 545px) {
    main {
        margin-top: 10px;
    }
}